<div id = "post-{{id}}" class = "card">
    <a href="/post/{{id}}"><img class = "card-image" src = "{{thumbnail}}"></a>
    <div class = "card-body">
        <p class = "card-title">{{title}}</p>
        <p class = "card-description">{{description}}</p>
    </div>
</div>